.header {
  &__container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    gap: 2rem;
    margin-bottom: 62px;
  }

  &__logo {
    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-title {
      color: $white;
    }
  }

  &__navigation {
    &-list {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
    }

    &-item {
      white-space: nowrap;
      color: $grey;
      display: flex;
      align-items: center;
      transition: color .2s ease;

      &:hover{
        color: $white;
      }
    }

    &_language{
        &-select{
            color: white;
        }

        &-option{
            text-align: center;
            width: 100%;
            background-color: $dark-gray;
            border: 5px solid white;
        }
    }
    
  }
}
