@import "@/styles/core/index.scss";

.section-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 106px;
}

.heading {
  font-size: $font-giant;

  &-container {
    display: flex;
    justify-content: space-between;
  }

  &-line-container{
    display: flex;
  }
}

.projects-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
